DATABASE_URL=YOUR_DATABASE_URL
BACKEND_PORT=YOUR_BACKEND_PORT

# variables for the db postgreSQL container
# PostgreSQL container variables
POSTGRES_USER=YOUR_POSTGRES_USERNAME
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=YOUR_POSTGRES_DATABASE_NAME
TREFLE_API_TOKEN=YOUR_TREFILE_API_TOKEN

REACT_GOOGLE_AUTH_URI=YOUR_AUTH_URI
REACT_GOOGLE_TOKEN_URI=YOUR_TOKEN_URI
REACT_GOOGLE_CLIENT_ID=YOUR_CLIENT_ID
REACT_GOOGLE_CLIENT_SECRET=YOUR_CLIENT_SECRET

UNREAL_GOOGLE_AUTH_URI=YOUR_AUTH_URI
UNREAL_GOOGLE_TOKEN_URI=YOUR_TOKEN_URI
UNREAL_GOOGLE_CLIENT_ID=YOUR_CLIENT_ID
UNREAL_GOOGLE_CLIENT_SECRET=YOUR_CLIENT_SECRET